@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Jost";
}
.nav-body {
  padding: 40px 0;
}

.nav-body a {
  text-decoration: none;
  color: #000;
  padding: 8px 12px;
  cursor: pointer;
}
.nav-body a:hover {
  text-decoration: underline;
}

.searchBar {
  border-bottom: 2px solid black;
  min-width: 400px;
  display: flex;
}

.searchBar input {
  flex: 1;
  outline: 0;
}

.fadeIn_animation {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    sacle: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.center_item {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
