@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Jost", sans-serif;
}

.nav-body {
  padding: 40px 0;
}

.nav-body a {
  text-decoration: none;
  color: #000;
  padding: 8px 12px;
  cursor: pointer;
}
.nav-body a:hover {
  text-decoration: underline;
}
